*{
    margin: opx;
    padding: 0px;
    box-sizing: border-box;
}
.main{
   padding: 10px 10px;
   margin-bottom:10px;

    text-align: center;
    background-color: #E4E4E9;
    
}
.main h1{
    font-weight: 700;
    color: #000066;
}
.right_container{
    width: 40%;
}
.container{
    gap: 50px;
}
h3{
    color: #000066;
    font-weight: 700;
}
p{
    font-weight: 500;
}
.border_bottom{
    border-bottom: 4px solid #000066;
    padding-bottom: 3px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
